<div class="footer">
  <div class="footer-content">
    <div class="footer-item">
      <div class="footer-item__img">
        <img src="../assets/images/logo-silder/logo-main.png" width="100%" alt="">
      </div>
      <div class="footer-item__content">
        <h5>Địa chỉ:</h5>
        <p>
          <strong>Cơ sở 1:</strong>
          221 Vũ Tông Phan - Thanh Xuân - Hà Nội
        </p>
        <p>
          <strong>Cơ sở 1:</strong>
          221 Vũ Tông Phan - Thanh Xuân - Hà Nội
        </p>
        <p>
          <strong>Cơ sở 1:</strong>
          221 Vũ Tông Phan - Thanh Xuân - Hà Nội
        </p>
        <p>
          Gọi mua hàng: <strong><a href="">0825.303.888 </a></strong>(8h00 - 22h00)
        </p>
        <p>
          Gọi bảo hành: <strong><a href="">0922.702.888</a></strong> (8h00 - 22h00)
        </p>
      </div>
    </div>
    <div class="footer-item">
      <h4>Chính Sách</h4>
      <p>
        <a href=""> Chính sách mua hàng </a>
      </p>
      <p>
        <a href=""> Chính sách đổi trả </a>
      </p>
      <p>
        <a href=""> Chính sách bảo hành </a>
      </p>
      <p>
        <a href=""> Cam kết chất lượng </a>
      </p>
      <p>
        <a href=""> Điều khoản sử dụng </a>
      </p>
      <p>
        <a href=""> Chính sách bảo mật </a>
      </p>
      <p>
        <a href=""> Hệ thống cửa hàng </a>
      </p>
    </div>
    <div class="footer-item">
      <h4>Fanpage</h4>
    </div>
    <div class="footer-item">
      <div class="footer-item__icon">
        <a href="" class="footer-item__icon_link linkfacebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="" class="footer-item__icon_link linktiktok">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="" class="footer-item__icon_link linkyoutube">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <div class="footer-item__content">
        <h4>Nhận phản hồi thắc mắc</h4>
        <span>anttech.com.vn@gmail.com</span>
        <h4>Tư vấn miễn phí 24/07</h4>
        <span>0825.303.888</áp>
      </div>
    </div>
  </div>
</div>
<div class="footer_tail">
  <div class="footer_tail_content">
        Bản quyền 2023 - Thiết bởi Anttech      
  </div>
</div>