<div id="header">
  <div class="main-header">
    <!-- phần header bên trái -->
    <div class="header-left">
      <!-- thanh điều hướng menu -->
      <div class="header-nav">
        <i class="fa-solid fa-bars"></i>
      </div>
      <!-- logo -->
      <div class="header-logo">
        <a href="">
          <img src="../assets/images/logo-silder/logo-main.png" height="70px" alt="">
        </a>
      </div>
    </div>

    <!-- phần header bên phải -->
    <div class="header-right">      
      <!--  -->
      <ul class="header-contact__list">
        <li class="header-contact__items">
          <!-- ô nhập seach -->
          <div class="header-seach">
            <input class="header-seach__phone" type="search" placeholder="Tìm kiếm ...">
            <div class="header-seach__icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div> 
        </li>
        <li class="header-contact__items">
          <a href="" class="header-contact__items-groud">
            <div class="header-contact__items_icon">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="header-contact__items_text">
              <p>Gọi mua hàng</p>
              <p>0852.303.888</p>
            </div>
          </a>
        </li>
        <li class="header-contact__items">
          <a href="" class="header-contact__items-groud">
            <div class="header-contact__items_icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="header-contact__items_text">
              <p>Cửa hàng</p>
              <p>gần bạn</p>
            </div>
          </a>
        </li>
        <li class="header-contact__items">
          <a href="" class="header-contact__items-groud">
            <div class="header-contact__items_icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="header-contact__items_text">
              <p>Cửa hàng</p>
              <p>gần bạn</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>