<div id="header">
  <div class="main-header">
    <!-- phần header bên trái -->
    <div class="header-left">
      <!-- thanh điều hướng menu -->
      <div class="header-nav">
        <div class="header-nav_btn">
          <i class="fa-solid fa-bars"></i>
        </div>

        <ul class="header-nav_menu">
          <li class="header-nav_menu_item">
            <!--  -->
            <ul class="header-nav_menu__continue">
              <div class="header-nav_menu__continue_bridge"></div>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  iPhone 16/16Plus/16Pro/16Promax
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  iPhone 15/15Plus/15Pro/15Promax
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  iPhone 14/14Plus/14Pro/14ProMax
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  iPhone 13/13Pro/13ProMax
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  iPhone 12/12Pro/12ProMax
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  iPhone 11/11Pro/11ProMax
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  iPhone XS/XR/XSMax
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  iPhone 7Plus/8/8 Plus/X
                </a>
              </li>
            </ul>
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon-cps-3.svg" alt="">
              <span class="header-nav_menu__text">Điện Thoai LikeNew</span>
            </a>
            <i class="header-nav_menu_item_arrow fa-solid fa-caret-right"></i>
          </li>   
          <li class="header-nav_menu_item">
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon_smpnew.png" alt="">
              <span class="header-nav_menu__text">New Seal 100%</span>
            </a>
          </li>  
          <li class="header-nav_menu_item">
            <!--  -->
            <ul class="header-nav_menu__continue">
              <div class="header-nav_menu__continue_bridge"></div>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Macbook
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Dell
                </a>
              </li>
            </ul>
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon_lap.svg" alt="">
              <span class="header-nav_menu__text">Laptop</span>
            </a>
            <i class="header-nav_menu_item_arrow fa-solid fa-caret-right"></i>
          </li> 
          <li class="header-nav_menu_item">
            <!--  -->
            <ul class="header-nav_menu__continue">
              <div class="header-nav_menu__continue_bridge"></div>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Ipad Air
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Ipad Pro
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Ipad Mini
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Ipad 10.2
                </a>
              </li>
            </ul>
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon_ipad.svg" alt="">
              <span class="header-nav_menu__text">Ipad</span>
            </a>
            <i class="header-nav_menu_item_arrow fa-solid fa-caret-right"></i>
          </li>   
          <li class="header-nav_menu_item">
             <!--  -->
            <ul class="header-nav_menu__continue">
              <div class="header-nav_menu__continue_bridge"></div>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Củ sạc iPhone, iPad
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Cáp sạc iPhone, iPad
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Tai nghe
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Pin sạc dự phòng
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Phụ kiện khác (Case, DCL..)
                </a>
              </li>
            </ul>
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon_phukien.svg" alt="">
              <span class="header-nav_menu__text">Phụ kiện</span>
            </a>
            <i class="header-nav_menu_item_arrow fa-solid fa-caret-right"></i>
          </li>   
          <li class="header-nav_menu_item">
             <!--  -->
            <ul class="header-nav_menu__continue">
              <div class="header-nav_menu__continue_bridge"></div>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Pin Dung Lượng Chuẩn
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Màn hình
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Màn Hình Linh Kiện GX
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Camera
                </a>
              </li>
            </ul>
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon_linhkien.png" alt="">
              <span class="header-nav_menu__text">Linh kiện</span>
            </a>
            <i class="header-nav_menu_item_arrow fa-solid fa-caret-right"></i>
          </li>   
          <li class="header-nav_menu_item">
            <!--  -->
            <ul class="header-nav_menu__continue">
              <div class="header-nav_menu__continue_bridge"></div>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Thay Kính Lưng
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Thay Kính Màn Hình
                </a>
              </li>
              <li class="header-nav_menu__continue_item">
                <a href="" class="header-nav_menu__continue_link">
                  Thay Kính Cảm Ứng
                </a>
              </li> 
            </ul>
            <a href="" class="header-nav_menu_link">
              <i class="header-nav_menu_link_icon fa-solid fa-screwdriver-wrench"></i>
              <span class="header-nav_menu__text">Sửa chữa</span>
            </a>
            <i class="header-nav_menu_item_arrow fa-solid fa-caret-right"></i>
          </li>   
          <li class="header-nav_menu_item">
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon_khuyenmai.svg" alt="">
              <span class="header-nav_menu__text">khuyến mại</span>
            </a>
          </li> 
          <li class="header-nav_menu_item">
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon_tintuc.svg" alt="">
              <span class="header-nav_menu__text">Tin tức</span>
            </a>
          </li> 
          <li class="header-nav_menu_item">
            <a href="" class="header-nav_menu_link">
              <img class="header-nav_menu__img" src="../assets/images/icon-menu/icon_chichsach.svg" alt="">
              <span class="header-nav_menu__text">Chính sách thu mua đổi cũ</span>
            </a>
          </li> 
        </ul>
      </div>
      <!-- logo -->
      <div class="header-logo">
        <a href="">
          <img src="../assets/images/logo-silder/logo-main.png" height="70px" alt="">
        </a>
      </div>
    </div>

    <!-- phần header bên phải -->
    <div class="header-right">      
      <!--  -->
      <ul class="header-contact__list">
        <li class="header-contact__items">
          <!-- ô nhập seach -->
          <div class="header-seach">
            <input class="header-seach__phone" type="search" placeholder="Tìm kiếm ...">
            <div class="header-seach__icon">
              <a href="" class="header-seach__phone_btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>  
            </div>
          </div> 
        </li>
        <li class="header-contact__items">
          <a href="" class="header-contact__items-groud">
            <div class="header-contact__items_icon">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="header-contact__items_text">
              <p>Gọi mua hàng</p>
              <p>0852.303.888</p>
            </div>
          </a>
        </li>
        <li class="header-contact__items">
          <a href="" class="header-contact__items-groud">
            <div class="header-contact__items_icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="header-contact__items_text">
              <p>Cửa hàng</p>
              <p>gần bạn</p>
            </div>
          </a>
        </li>
        <li class="header-contact__items">
          <a href="" class="header-contact__items-groud">
            <div class="header-contact__items_icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="header-contact__items_text">
              <p>Cửa hàng</p>
              <p>gần bạn</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>