.footer {
  display: block;
  padding-top: 30px;
  border-top: 5px solid #ccc;
}

.footer-content {
  max-width: 1250px;
  height: auto;
  margin: auto;
}

.footer-item {
  width: 25%;
  height: auto;
  padding: 0 15px 30px;
}

.footer-item__img {
  margin-bottom: 15px;
}